*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, header, body{
	height: 100%;
}
html{
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}
.nav-wrapper{
	height: 100px;
	display: flex;
	/*padding: 0 100px;*/
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	max-width: 1200px;
}
.topnav{
	display: flex;
	justify-content: flex-end;
	/*width: 75%;*/
	align-items: center;
}
.nav-link{
	text-decoration: none;
	color: black;
	padding: 10px 15px;
	font-size: 1.5rem;
	letter-spacing: 0.5px;
	transition: 0.2s ease-in;
}
.logo{
	font-size: 2.2rem;
	font-weight: bold;
	width: 150px;
}
.search{
	background-image: url(../img/search.png);
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: 0px center;
	border: none;
	padding-left: 20px;
	outline: none;
	letter-spacing: 1.5px;
	font-weight: 600;
	width: 100%;
	font-size: 1.5rem;
	padding-bottom: 3px;
	transition: 0.3s ease-in;
}
.search-wrapper{
	width: 15%;
	margin-left: 15px;
}
.search:focus{
	border-bottom: 1px solid;
}
.header{
	background-image: url(../img/img1.jpg);
	background-repeat: no-repeat;
	height: 100%;
	background-size: cover;
	align-items: center;
	display: flex;
	color: white;
	justify-content: center;
}
.header:after{
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	height: calc(100%-100px);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	margin-top: 100px

}
.header > .box{
	z-index: 1;
	text-align: center;
}
.subtitle{
	font-size: 1.6rem;
	padding: 2rem 0;
	letter-spacing: 0.5px;
}
.h1{
	font-size: 5rem;
	letter-spacing: 1px;
}

.header-btn, .readmore{
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	margin-top: 40px;
	color: white;
	text-transform: uppercase;
	font-size: 600;
	letter-spacing: 0.75px;
	cursor: pointer;
	transition: 0.3s ease-in;
}
.green{
	margin-left: 20px;
	background-color: #00897b;
}
.trsprnt, .readmore{
	border: 2px solid;
	background-color: transparent;
}
.readmore{
	color: black;
}
.first{
	text-align: center;
	padding: 100px 0;
}
.h2{
	font-size: 4rem;
	margin-bottom: 2rem;
	letter-spacing: 0.7px;
}
