@media all and (min-width: 1150px){
	.trsprnt:hover{
		background-color: #00897b;
		border-color: transparent;
	}
	.green:hover{
		background-color: transparent;
		border: 2px solid;
	}
	.nav-link:hover{
		background-color: black;
		color: white;
	}
}
.second-item:hover{
	background-color: black;
	color: #fff;
	transform: scale(1.05);
	box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.3)
}
.second-item:hover .readmore{
	border-color: white;
	color: white;
}
.readmore:hover{
	background-color: red;
}
.readmore2:hover{
	background-color: white;
	color: black;
	border-color: black;
}
