*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face{
	font-family: RobotoR;
	src: url(../font/Roboto.Reguler.ttf);
}
body{
	background-color: rgb(217, 255, 255);
	background-image: url(../img/background-img3.jpg);
	font-family: Roboto;
}
main{
	width: 90%;
	padding: 50px;
	margin: auto;
	background-color: rgb(222, 255, 255);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba( 0,0,0,0.2);
}
.photo{
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 8 * 9);
	margin: 10px;
	display: inline;
	background-color: orange;
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 10px 1px rgba( 0,0,0,0.2);
	transition: all 0.5s ease
}
.photo:hover{
	transform: rotate(1.5deg) scale(1.05);
}
h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
}
h2{
	font-size: 30px;
	width: 55%;
	color: red;
}
a{
	font-size: 40px;
	width: 52%;	
}

.photo1{
	background-image: url(../img/boy-img1.png);
}
.photo2{
	background-image: url(../img/boy-img2.jpg);
}
.photo3{
	background-image: url(../img/anidiot.jpg);
}
.photo4{
	background-image: url(../img/anidiot2.jpg);
}
.photo5{
	background-image: url(../img/anidiot3.jpg);
}
.photo6{
	background-image: url(../img/anidiot4.jpg);
}
.photo7{
	background-image: url(../img/anidiot5.jpg);
}
.photo8{
	background-image: url(../img/anidiot6.jpg);
}
.photo9{
	background-image: url(../img/men-img1.jpg);
}
.photo10{
	background-image: url(../img/men-img2.jpg);
}
.photo11{
	background-image: url(../img/men-img3.jpg);
}
.photo12{
	background-image: url(../img/men-img4.jpg);
}
.photo13{
	background-image: url(../img/anidiot7.jpg);
}
.photo14{
	background-image: url(../img/anidiot8.jpg);
}
.photo15{
	background-image: url(../img/anidiot9.jpg);
}
.photo16{
	background-image: url(../img/anidiot10.jpg);
}
